<ion-header>
  <ion-toolbar color="success">
    <ion-buttons slot="start">
      <ion-back-button text=""></ion-back-button>
    </ion-buttons>
    <ion-title>Pickup-call</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<img src="https://cdn.pixabay.com/photo/2018/01/28/13/24/portrait-3113651__340.jpg">
<ion-card>
  <ion-card-content>
   <p>Address: Yishun Stret 61</p>
   <p>Complement: Block 605</p>
   <p>Neighbohood: #33333333</p>
   <p>City: Singapore</p>
  </ion-card-content>
</ion-card>
<ion-list>
  <ion-item lines="inset">
    <ion-label psition="float">Notes</ion-label>
    <ion-textarea></ion-textarea>
  </ion-item>
</ion-list>
<ion-button size="full" color="success">Create Pickup Call</ion-button>
</ion-content>
<!-- pickup-call -->